LogicApps/AutoSCUDeletion/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_resource_creation_and_deletion_name": {
            "defaultValue": "resource_creation_and_deletion",
            "type": "String"
        },
        "__encodeURIComponent__capacities_sehasc____externalid": {
            "defaultValue": "/subscriptions/@{encodeURIComponent('e1a06fcc-f6a3-425c-a76d-11a070aeb9e6')}/resourceGroups/@{encodeURIComponent('RG-SecCopilot')}/providers/@{encodeURIComponent('Microsoft.SecurityCopilot')}/@{encodeURIComponent('capacities/sehasc')}",
            "type": "String"
        },
        "connections_arm_externalid": {
            "defaultValue": "/subscriptions/e1a06fcc-f6a3-425c-a76d-11a070aeb9e6/resourceGroups/RG-SecCopilot/providers/Microsoft.Web/connections/arm",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_resource_creation_and_deletion_name')]",
            "location": "centralus",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "interval": 1,
                                "frequency": "Week",
                                "timeZone": "Korea Standard Time",
                                "schedule": {
                                    "weekDays": [
                                        "Monday",
                                        "Tuesday",
                                        "Wednesday",
                                        "Thursday",
                                        "Friday"
                                    ],
                                    "hours": [
                                        17
                                    ],
                                    "minutes": [
                                        55
                                    ]
                                }
                            },
                            "evaluatedRecurrence": {
                                "interval": 1,
                                "frequency": "Week",
                                "timeZone": "Korea Standard Time",
                                "schedule": {
                                    "weekDays": [
                                        "Monday",
                                        "Tuesday",
                                        "Wednesday",
                                        "Thursday",
                                        "Friday"
                                    ],
                                    "hours": [
                                        17
                                    ],
                                    "minutes": [
                                        55
                                    ]
                                }
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "HTTP": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "uri": "https://management.azure.com/subscriptions/e1a06fcc-f6a3-425c-a76d-11a070aeb9e6/resourceGroups/RG-SecCopilot/providers/microsoft.securitycopilot/capacities/sehasc?api-version=2023-12-01-preview",
                                "method": "GET",
                                "headers": {
                                    "Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkpETmFfNGk0cjdGZ2lnTDNzSElsSTN4Vi1JVSIsImtpZCI6IkpETmFfNGk0cjdGZ2lnTDNzSElsSTN4Vi1JVSJ9.eyJhdWQiOiJodHRwczovL21hbmFnZW1lbnQuY29yZS53aW5kb3dzLm5ldC8iLCJpc3MiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC84MzQ5ODE5Zi0wMmYyLTRlZDEtYjY3Yi0xZWVkM2U5Nzk1NGUvIiwiaWF0IjoxNzQyNDU0NjM1LCJuYmYiOjE3NDI0NTQ2MzUsImV4cCI6MTc0MjQ1OTc0MCwiYWNyIjoiMSIsImFpbyI6IkFYUUFpLzhaQUFBQS9GQ2lRbmlNNTdPbjlyQmJkSTZjNTRpUEQrQ09mdGROcHIzMDJhcWl6b005WXJ3VXhoNVlKM3B4WUlOSDZDcW9zQ20vOG1ueUR1Z3RFZnZTYitnTUV2WEM5UVpvMGZEZHUxblpQOHo0eDhjbU55bHFkNUIrT1JZN3YxNGp0NmVJTUIzdVpnUkQ3ejhGTlJWdUJhQUU1Zz09IiwiYW1yIjpbInB3ZCIsIm1mYSJdLCJhcHBpZCI6ImI2NzdjMjkwLWNmNGItNGE4ZS1hNjBlLTkxYmE2NTBhNGFiZSIsImFwcGlkYWNyIjoiMCIsImZhbWlseV9uYW1lIjoiQWRtaW5pc3RyYXRvciIsImdpdmVuX25hbWUiOiJNT0QiLCJncm91cHMiOlsiNjE1OTgwZTgtYmNmMC00OTAxLTk4NTUtNWRiMWFjMmJjZjA1IiwiOTg0M2M3MGYtZWUxYy00Nzc4LWIxMjEtMGMxMWU5Y2YxMjI2IiwiM2I1Mzg0NmYtMDM1My00NTIwLWIwMzQtODFiZWJjNTFhNDZjIiwiYzM2MDQ4OWYtM2I5OS00N2FmLWFkZTQtYzhjZDNhNTJkNmM4IiwiZjc5Y2Q5YTEtZjE1YS00Y2NkLTkwZjUtZTllZDNmMWVkZmEzIiwiMWMyYTZhYTMtZmI1ZC00YmIzLWJlODctZTI1Y2I4MjFhYWRmIiwiMDRjOWNmYWItMjU3Ni00OGQzLTliYzYtMWVhZjgyODg0YzQ5IiwiYzNiOGZhYjQtMGE5OC00NGJlLTkyZWItM2ViN2Q1Mjg0OGQ4IiwiOWE3MWM5ZDUtMTE1Mi00NmVlLWE4OGMtNTRjYTAzNTc3ZDFmIiwiZjhkOWYxZDYtZTUyZi00NmQyLTliNzQtYWNiMDk2YzA2YWE4Il0sImlkdHlwIjoidXNlciIsImlwYWRkciI6IjEuMjMzLjE3MC40IiwibmFtZSI6Ik1PRCBBZG1pbmlzdHJhdG9yIiwib2lkIjoiYWJmMmY2YWEtZWM4NC00Nzc4LTliZmEtODExMmVkMTVkNjQ3IiwicHVpZCI6IjEwMDMyMDAzRjhDQjQ2QzEiLCJyaCI6IjEuQVhFQm40RkpnX0lDMFU2MmV4N3RQcGVWVGtaSWYza0F1dGRQdWtQYXdmajJNQk54QVRGeEFRLiIsInNjcCI6InVzZXJfaW1wZXJzb25hdGlvbiIsInNpZCI6IjAwMzBkYmU5LTI0M2MtMzljMi01NTRiLTk1NWQyMmIxMTEzYiIsInN1YiI6Ikc2TGdHNU1DSEtnLS1uOEVpVDMwRXRnXzVzMF9kU01xeFN5RGltY1FXVjgiLCJ0aWQiOiI4MzQ5ODE5Zi0wMmYyLTRlZDEtYjY3Yi0xZWVkM2U5Nzk1NGUiLCJ1bmlxdWVfbmFtZSI6ImFkbWluQE0zNjV4NzQ1Mjg0MjEub25taWNyb3NvZnQuY29tIiwidXBuIjoiYWRtaW5ATTM2NXg3NDUyODQyMS5vbm1pY3Jvc29mdC5jb20iLCJ1dGkiOiJleXgzdTRPQl9VLVhyeW8ySmxOWkFBIiwidmVyIjoiMS4wIiwid2lkcyI6WyI2MmU5MDM5NC02OWY1LTQyMzctOTE5MC0wMTIxNzcxNDVlMTAiLCJiNzlmYmY0ZC0zZWY5LTQ2ODktODE0My03NmIxOTRlODU1MDkiXSwieG1zX2lkcmVsIjoiMSAyOCIsInhtc190Y2R0IjoxNzMxMjIxNTE0fQ.XgD_QWhQa6_60V4fKZ-PWu0ymbvbsiiZfq1nDWdhPugipZTRhMFQIYsvEt8Rk7ifpRdRuSxdZPwXbPy5hkpnqbCuOlteUT5TAOqQHWUD3btUtUn90H8kCTWuaFgvHZotLLam7FFHdpUcTDSguXS6kagU_Xpiihx1IZv0wDO_u1oKQSCQwfGj8e6jFbiue6TuwOj47h5zAmV1HiLHMRc8jB0tEqkWVCNvAyGfXIFE9HqsnsUyX4C83lerf5yn65ToiVg0BJqtFvs3uLTo3vHUMQhKEXnRFxVDa_BL89szHwWtnldoxEbV8e8H5a6PUrVBvgL-32eWkPPiW99px2J0Vg"
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "provisioned",
                                        "type": "integer",
                                        "value": "@outputs('HTTP')?['statusCode']"
                                    }
                                ]
                            }
                        },
                        "Condition": {
                            "actions": {
                                "Delete_a_resource": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['arm']['connectionId']"
                                            }
                                        },
                                        "method": "delete",
                                        "path": "[parameters('__encodeURIComponent__capacities_sehasc____externalid')]",
                                        "queries": {
                                            "x-ms-api-version": "2023-12-01-preview"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {}
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@variables('provisioned')",
                                            200
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "arm": {
                                "id": "/subscriptions/e1a06fcc-f6a3-425c-a76d-11a070aeb9e6/providers/Microsoft.Web/locations/centralus/managedApis/arm",
                                "connectionId": "[parameters('connections_arm_externalid')]",
                                "connectionName": "arm"
                            }
                        }
                    }
                }
            }
        }
    ]
}