LogicApps/AutoSCUDeletion/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "subscriptionId": {
            "type": "string",
            "metadata": {
                "description": "Your Azure Subscription ID"
            }
        },
        "accessToken": {
            "type": "securestring",
            "metadata": {
                "description": "Your Azure Bearer Access Token"
            }
        },
        "workflows_resource_creation_and_deletion_name": {
            "defaultValue": "resource_creation_and_deletion",
            "type": "String"
        },
        "connections_arm_externalid": {
            "defaultValue": "/subscriptions/{subscription-id}/resourceGroups/RG-SecCopilot/providers/Microsoft.Web/connections/arm",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_resource_creation_and_deletion_name')]",
            "location": "centralus",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "interval": 1,
                                "frequency": "Week",
                                "timeZone": "Korea Standard Time",
                                "schedule": {
                                    "weekDays": [
                                        "Monday",
                                        "Tuesday",
                                        "Wednesday",
                                        "Thursday",
                                        "Friday"
                                    ],
                                    "hours": [
                                        17
                                    ],
                                    "minutes": [
                                        55
                                    ]
                                }
                            },
                            "evaluatedRecurrence": {
                                "interval": 1,
                                "frequency": "Week",
                                "timeZone": "Korea Standard Time",
                                "schedule": {
                                    "weekDays": [
                                        "Monday",
                                        "Tuesday",
                                        "Wednesday",
                                        "Thursday",
                                        "Friday"
                                    ],
                                    "hours": [
                                        17
                                    ],
                                    "minutes": [
                                        55
                                    ]
                                }
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "HTTP": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "uri": "[concat('https://management.azure.com/subscriptions/', parameters('subscriptionId'), '/resourceGroups/RG-SecCopilot/providers/microsoft.securitycopilot/capacities/sehasc?api-version=2023-12-01-preview')]",
                                "method": "GET",
                                "headers": {
                                    "Authorization": "[concat('Bearer ', parameters('accessToken'))]"
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "provisioned",
                                        "type": "integer",
                                        "value": "@outputs('HTTP')?['statusCode']"
                                    }
                                ]
                            }
                        },
                        "Condition": {
                            "actions": {
                                "Delete_a_resource": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['arm']['connectionId']"
                                            }
                                        },
                                        "method": "delete",
                                        "path": "[concat('/subscriptions/', parameters('subscriptionId'), '/resourceGroups/RG-SecCopilot/providers/Microsoft.SecurityCopilot/capacities/sehasc')]",
                                        "queries": {
                                            "x-ms-api-version": "2023-12-01-preview"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {}
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@variables('provisioned')",
                                            200
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "arm": {
                                "id": "/subscriptions/{subscription-id}/providers/Microsoft.Web/locations/centralus/managedApis/arm",
                                "connectionId": "[parameters('connections_arm_externalid')]",
                                "connectionName": "arm"
                            }
                        }
                    }
                }
            }
        }
    ]
}
